In [3]:
from sklearn import datasets
from sklearn import metrics
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np


from sklearn.svm import SVC, SVR

In [76]:
df_trans = pd.read_excel('./data_friday_ai.xlsx', engine='openpyxl')
df_trans=df_trans.drop(['customer_id','employee_id','invoice_no.','trans_price'],axis=1)

In [77]:
df=df_trans[(df_trans['store_id']==1)&(df_trans['item_id']==3)]
df=df.drop(['store_id','item_id'],axis=1)

In [78]:
df['time_stamp']=pd.to_datetime(df['time_stamp'])

In [79]:
df=df.sort_values(by=['time_stamp'], ascending=[True])

In [80]:
df=df.groupby(['time_stamp']).sum()
df['dt']=df.index

In [81]:
r = pd.date_range(start=df.dt.min(), end=df.dt.max())
df=df.set_index('dt').reindex(r).fillna(0.0).rename_axis('dt').reset_index()

In [82]:
df[0:11]

           dt  quantity
0  2015-01-02       1.0
1  2015-01-03       0.0
2  2015-01-04       1.0
3  2015-01-05       1.0
4  2015-01-06       0.0
5  2015-01-07       1.0
6  2015-01-08       0.0
7  2015-01-09       0.0
8  2015-01-10       1.0
9  2015-01-11       2.0
10 2015-01-12       2.0

In [85]:
X = df['dt'].values.reshape(-1,1)
y = df['quantity'].values.reshape(-1,1)

In [92]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y)

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1,random_state=109)

In [94]:
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train.ravel())

SVR()

In [95]:
y_pred = regressor.predict(X_test)
y_pred = sc_y.inverse_transform(y_pred)

In [113]:

y_pred_inverse = sc_y.inverse_transform(y_pred.reshape(-1, 1))

In [106]:
y_test_inverse= sc_y.inverse_transform(y_test.reshape(-1, 1))

In [116]:
from sklearn.metrics import mean_squared_error

print('Validation rmse:', np.sqrt(mean_squared_error(y_test, y_pred)))

Validation rmse: 1.0129750377563196